@import "reset.css";

/* 
 * BASE
 */
 
body {
	background: #fbfbfb;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #555;
}

a {
	color: #52bbbb;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #888;
}

input {
	border: none;
	background: #fff;
	font-size: 2.5em;
	width: 50%;
	font-family: arial, sans-serif;
	color: #888;
	line-height: 130%;
}

button {
	background: #555;
	color: #fff;
	padding: .3em 1em;
	border: none;
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

h2 {
	font-size: 1.8em;
	line-height: 1.8em;
	color: #186fa7;
}

/* 
 * LAYOUT
 */

.wrap {
	width: 1020px;
	margin: 0 auto;
}

#header {
	background: #52bbbb;
}

#main {
	background: #1474ad url("../img/intro-icons.png") repeat 0 0;
}

#people {
	float: left;
	width: 25%;
}

#content {
	float: left;
	width: 75%;
	background: #fff;
	min-height: 640px;
}

.entry {
	padding: 1em;
}

#footer {
	padding: 5px 0;
	text-align: center;
	color: #fff;
	font-size: .8em;
	background: #535353;
}

/*
 * MODULE
 */

.middle {
	width: 100%;
	margin: 0 auto;
}

.logo {
	background: url("../img/logo.png") no-repeat 0 0;
	width: 71px;
	height: 80px;
	text-indent: -5000px;
	font-size: 0;
	float: left;
}

.menu {
	float: right;
	height: 80px;
	line-height: 80px;
}

.menu li {
	display: inline;
	margin: 0 1em;
}

.menu a {
	color: #fff;
}

.menu a:hover {
	color: #f5f5f5;
	border-bottom: 3px solid #fff;
	padding-bottom: 10px;
}

.kp-profile {
	padding: 1em;
	color: #eee;
}

.kp-profile .avatar {
	display: block;
	width: 90%;
	margin: 0 auto;
	border-radius: 50%;
}

.kp-profile ul {
	margin: .5em 1.5em;
}

.kp-profile ul li {
	list-style-type: square;
}

.data {
	font-size: .8em;
}

.data a {
	color: #fff;
}

.data a:hover {
	color: #eee;
}

.data p {
	margin-bottom: 1em;
}

.kp-history {
	background: #3382b5;
	font-size: .8em;
	padding: 1.5em;
	color: #ccc;
}

.kp-history h2 {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
}

.kp-news .title {
	color: #3382b5;
}

.kp-news .title:before {
	content: "✧";
	display: inline-block;
	margin-right: .5em;
}

.kp-news .entry {
	border-left: 2px solid #aaa;
	margin-left: 5px;
	padding-left: 1em;
	margin-bottom: 1em;
}

.album {
	margin: .5em 1em;
	width: 19%;
	display: inline-block;
}

.album-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}

.album-img img {
	width: 100%;
	transition: all 0.2s ease-out;
}

.album-img:hover img {
	transform: scale(1.2, 1.2);
}

.album .title {
	text-align: center;
	font-size: .8em;
}

.search-bar span {
	font-size: 2.5em;
	float: left;
	color: #aaa;
	line-height: 130%;
}

.tab-border {
	margin: 1em 0;
	border-bottom: 3px solid #eee;
	padding-bottom: 2px;
}

.tab span {
	cursor: pointer;
	padding: .5em 1em;
}

.tab .current {
	background: #eee;
	color: #1474ad;
}