
  <div id="main" class="wrap clear">
    <div id="people">
      <div class="kp-profile">
        <img src="images/avatar.jpg" border="0" class="avatar" />
        <ul>
          <li>柯文哲</li>
          <li>臺北市長候選人</li>
        </ul>
        <div class="data">
          <p>柯文哲（1959年8月6日－），出生於臺灣新竹市，臺灣的外科醫師，服務於台大醫院急診部，現任台大醫院創傷醫學部主任。亦是台大醫學院教授，專長包括外傷、外科重症醫學、急救、器官移植 、ECMO（葉克膜）、人工器官等。因其職業，綽號為柯P、KP。</p>
          <p>柯文哲為台灣器官標準移植程序的建立者，也是首位將葉克膜技術引進台灣的醫師。除醫療外，柯文哲也多次接受媒體採訪、參與政論節目。<a href="http://zh.wikipedia.org/wiki/%E6%9F%AF%E6%96%87%E5%93%B2" target="_blank">(更多資料)</a></p>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="entry">
        <div class="search-bar clear">
          <span>輸入關鍵字搜尋：</span>
          <input class="search" type="text" />
        </div>
        <div class="tab">
          <div class="tab-border">
            <span id="kp-news">
              文章
            </span>
            <span id="kp-album">
              相簿
            </span>
            <span id="kp-video">
              影片
            </span>
          </div>
          <ul class="kp-news line-content">
            <li class="" ng-repeat="category in category[0].data" data-info={{category.title}}>
              <h2 class="title">{{category.title}}</h2>
              <div class="entry">{{category.plain_content}}</div>
            </li>
          </ul>
          <ul class="kp-album line-content">
          </ul>
          <ul class="kp-video line-content">
          </ul>
        </div>
      </div>
    </div>
  </div>

